.home {
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  /* background-color: var(--first-color); */
  padding: 40px;
  height: 100vh;
}
.dashboard_button {
  margin-top: -400px;
}

.home_img {
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
  z-index: 1;
}

.home_data {
  max-width: 600px;
  margin-inline: auto;
  padding-top: 20px;
}

.home_title {
  position: relative;
  font-size: var(--h1-font-size);
  line-height: 1.24;
  padding-left: 70px;
  white-space: nowrap;
  margin-left: -75px;
  color: var(--first-color);
}

.home_title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 47%;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--first-color);
}

.home_description {
  line-height: 2.125;
  margin-block: 16px 32px;
  text-align: justify;
  text-justify: inter-word;
  color: var(--text-color);
}

.color_block {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: var(--first-color);
  top: -50%;
  left: -83%;
  transform: rotate(-15deg);
}
.button_group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.logout_button {
  display: inline-block;
  color: var(--title-color);
  border: 1px solid var(--first-color);
  padding: 15px 70px 15px 35px;
  border-radius: 35px;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin-left: 80px;
}

.logout_button:hover {
  color: var(--text-white);
}
.logout_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--first-color);
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-out;
}

.logout_button:hover::before {
  transform: translateX(0);
}

.logout_button_icon {
  background-color: var(--first-color);
  position: absolute;
  inset-block: -2px;
  right: 0;
  width: 55px;
  border-radius: 50%;
  color: var(--text-white);
  font-size: var(--large-font-size);
  text-align: center;
  line-height: 60px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .button_group {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .logout_button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  .home {
    grid-template-columns: 1fr;
  }
  .color_block {
    display: none;
  }

  .home_title {
    font-size: 16px;
    margin-left: -72px;
  }
  .home_description {
    font-size: 12px;
  }

  .home_content > .button {
    padding: 10px 30px;
    font-size: 12px;
  }

  .button_icon,
  .logout_button_icon {
    display: none;
  }
  .home_title::before {
    display: none;
  }
  .style_switcher-toggler {
    top: 15%;
    width: 35px;
    height: 35px;
  }
  .theme_toggler {
    top: 60%;
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* .button_group {
    display: flex;
    align-items: center;
  } */

  .logout_button_icon {
    display: none;
  }
  .button_group {
    margin-bottom: 10px;
  }
  .home {
    grid-template-columns: 1fr;
  }

  .home_title {
    font-size: 22px;
    margin-left: 35px;
  }
  .home_description {
    font-size: 12px;
    padding-right: 40px;
    margin-left: 105px;
  }
  .home_content > .button {
    margin-left: 100px;
  }
  .button_icon {
    display: none;
  }
  .color_block {
    display: none;
  }
  .button {
    padding: 10px 30px !important;
    font-size: 13px;
    margin-left: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .button_group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .home {
    grid-template-columns: 6fr 6fr;
  }
  .home_title {
    font-size: 20px;
    margin-left: 0;
    padding-left: 40px;
  }
  .home_title::before {
    width: 30px;
  }
  .home_description {
    font-size: 12px;
  }

  .button {
    padding: 10px 30px !important;
    font-size: 13px;
  }

  .button_icon,
  .logout_button_icon {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home_title {
    font-size: 30px;
    margin-left: 0;
  }
  .home_description {
    font-size: 13px;
    padding-right: 60px;
  }
}
